.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.card {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgb(81, 199, 219);
  padding:5px;
  border: 3px solid;
}

@media (min-width: 992px){
  .card{
    width: 90%;
    margin-left:100px;
    
    
  }
}

img {
  width: 150px;
  margin: 20px;
  margin-left: 35px;
  border-radius: 20px;
  background-color: rgb(81, 199, 219);

}

@media (min-width: 992px){
  img{
    width: 300px;
  }
}

.show__item{
  border-radius: 10px;
}

@media (min-width: 992px){

}



h2 {
  color: black;
  text-shadow: 4px 2px rgba(240, 248, 255, 0.241);
  background-color: rgb(81, 199, 219);
  
}
a {
  color: #0b0089;
  text-decoration: none;
  background-color: rgb(81, 199, 219);
}

p{
  background-color: rgb(81, 199, 219);
}